body {
  padding: 0;
  margin: 0;
  outline: none;
  overflow-x: hidden;
  background: gainsboro;
}

.outline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  background-color: rgb(146, 216, 192);
    border: navajowhite;
    padding: 11px;
    border-radius: 3px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-top: 100px;
    transition: all 300ms ease-in-out 0s;
}

button:hover {
  transform: scale(0.95);
}

.thought {
  margin-top: 10%;
  max-width: calc(100% - 10%);

}

.author {
  margin-top: 25px;
}

.quoteArea {
    text-align: center;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}


/* mobile version for 43em (43*16px===688px)*/

@media (max-width:43em){
  .quoteArea,button {
    position: absolute;
  }

  .quoteArea {
    top: 10%;
  }

  button {
    top: 50%;
    font-size: calc(100% - 30%);
    font-weight: 600;
  }
}
